<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="SharedInstance" connectionString="Server=tcp:notytb9g7e.database.windows.net,1433; Database=HeyStack; User ID=heystack@notytb9g7e; Password= ProgNet2014@SkillsMatter; Trusted_Connection=False; Encrypt=True; Connection Timeout=30" />
        <add name="LocalInstance" connectionString="Server=(local); Database=HeyStack; User ID=readonly; Password=P455w07d; Trusted_Connection=False; Encrypt=True; Connection Timeout=30" />
    </connectionStrings>
    
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add path="*" 
                 name="ServiceStack.Factory" 
                 preCondition="integratedMode"           
                 type="ServiceStack.HttpHandlerFactory, ServiceStack"           
                 verb="*" 
                 resourceType="Unspecified" allowPathInfo="true" />
        </handlers>
    </system.webServer>
</configuration>
